@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

.art-canvas {
  padding: 20px;
  border: 3px solid white;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
}

.art-frame {
  border: 25px solid #303030;
  box-sizing: border-box;
  display: block;
  background-image: linear-gradient(
    to bottom,
    #f1f1f1,
    #ededed,
    #e9e9e9,
    #e6e6e6,
    #e2e2e2
  );
  border-left-color: #202020;
  border-right-color: #202020;
  border-top-color: black;
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.75),
    0px 0px 13px 0px rgba(0, 0, 0, 1), 0px 26px 70px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.75),
    0px 0px 13px 0px rgba(0, 0, 0, 1), 0px 26px 70px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.75),
    0px 0px 13px 0px rgba(0, 0, 0, 1), 0px 26px 70px 0px rgba(0, 0, 0, 0.1);
}

.art-collection {
  box-sizing: border-box;
  display: block;
  /* margin:100px; */
}

.art-label {
  float: right;
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.5),
    0px 26px 70px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.5),
    0px 26px 70px 0px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.5),
    0px 26px 70px 0px rgba(0, 0, 0, 0.76);
  border-radius: 5px;
}

.art-label p {
  font-family: Roboto, sans-serif;
}
/**
* Mask layers with different images
**/
/* .mask-w {
  mask-image: url('/assets/mask.png'); 
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
} */

.leaflet-control {
  z-index: 800;
}

.circle-frame-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url('/assets/circle-frame.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 400;
}

.vertical {
  width: 450px;
  height: 600px;
  /* width: 354.5px; */
  /* height: 443px; */
}